@import "tailwindcss";

@font-face {
  font-family: 'RazerF5';
  src: url('/fonts/dehinted-RazerF5-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RazerF5_Bold';
  src: url('/fonts/dehinted-RazerF5-Bold.ttf') format('opentype');
}

.razer {
  font-family: 'RazerF5', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.razerBold {
  font-family: 'RazerF5_Bold', sans-serif;
}
